@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura Bk';
  src: url('../fonts/FuturaBookBT.ttf');
  font-weight: 'normal';
  font-style: 'normal';
}

@font-face {
  font-family: 'Futura Md';
  src: url('../fonts/FuturaMediumBT.ttf');
  font-weight: 'normal';
  font-style: 'normal';
}